.footer {
    background-color: var(--color-black);
}
.container.footer__container {
    background-color: var(--color-white);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
.footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 115px;
    padding-right: 115px;
    max-width: inherit;
    width: 100%;
}
.footer__left {
    padding-top: 76px;
    padding-bottom: 30px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 74px;
}
.footer__title {
    color: var(--color-black);
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.02em;
}
.footer__copyright {
    color: var(--color-black);
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    opacity: 0.5;
}