.header {
  position: fixed;
  top: 35px;
  left: 8.8%;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.container.header-container {
  padding: 0;
  /* width: 1250px; */
}

.logo-background {
  background-color: var(--color-black);
  width: 130px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  opacity: 1;
  padding: 0 12px 0 9px;
}

.logo-text {
  color: var(--color-green);
  font-weight: 700;
  font-style: Bold;
  font-size: 42.41px;
  line-height: 43px;
  letter-spacing: -0.11em;
  text-transform: uppercase;
}

.nav {
  padding-right: 30px;
}

.nav-list {
  display: flex;
  gap: 51px;
}

.nav-list__item {
  color: var(--color-white);
  text-transform: lowercase;
}

.nav-list__link {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.0em;
  position: relative;
  display: inline-block;
  padding-bottom: 4px;
  text-decoration: none;
  color: inherit;
}
.nav-list__link:hover {
  color: var(--color-green);
}