.projects {
    background-color: var(--color-black);
    padding-top: 150px;
}
.container {
}
.projects__container {
  max-width: 1150px;
  /* height: 500px; */
}
.projects__title {
    color: rgba(255, 255, 255, 1);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 44px;
}
.projects__list {
}
.project-card {
    width: 100%;
    overflow: hidden;
}
.project-card__content {
    max-width: 1150px;
    height: 550px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 30px;
    overflow: hidden;
    margin-left: 5px;
}
.metrica {
    background: url(../resources/img/projects/Realhome-image.png);
  /* background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.9) 100%),
    url(../resources/img/projects/Project_Realhome.jpg); */
}
.project-card__topic {
    /* width: 206px; */
    margin-top: 57px;
    margin-left: 45px;
    padding: 10px 20px;
    color: var(--color-black);
    font-family: Manrope, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
    background-color: var(--color-green);
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}
.project-card__text {
    margin: 420px auto 60px 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.project-card__title {
    color: var(--color-white);
    font-family: IBM Plex Mono, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}
.description {

    color: var(--color-white);
    font-family: IBM Plex Mono, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

.nothing {
    background-image: url(../resources/img/projects/Glass.png);
    /* background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.9) 100%),
      url(../resources/img/projects/Glass.png); */
}

.toptrip {
    background-image: url(../resources/img/projects/Fesiyen.png);
    /* background: linear-gradient(180.00deg, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.9) 100%),
      url(../resources/img/projects/Fesiyen.png); */
}

.projects__more {
    padding-left: 5px;
    padding-top: 81px;
}
.btn {
    color: var(--color-black);
    font-family: IBM Plex Mono, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
}
.btn-projects {
    display: inline-flex;
    width: 582px;
    height: 153px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: var(--color-green);
}
.btn-projects:hover {
    background: var(--color-black);
    color: var(--color-green);
    border-color: var(--color-green);
    border: 1px solid;
}