.skills {
    background-color: var(--color-black);
    padding-top: 150px;
  }
  
  .skills__container {
    display: flex;
    flex-direction: column;
    /* gap: 57px; */
  }
  
  .skills__title {
    color: var(--color-white);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 55px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: left;
    padding-top: 5px;
    padding-left: 5px;
  }
  
  .skills__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* gap: 22px 47px; */
    padding-left: 5px;
  }
  
  .skills__item {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .item__img {
    width: 45px;
    height: 45px;
  }
  
  .item__img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  .item__name {
    /* max-width: 675px; */
    color: var(--color-green);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  
  .item__description {
    color: var(--color-white);
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    width: 778px;
  }
  /* .skills__item:nth-child(odd) .item__description {
    width: 535px;
  }
  
  .skills__item:nth-child(even) .item__description {
    width: 564px;
  } */

 .skills__item:nth-child(1) {
    padding-top: 50px;
  }

  .skills__item:nth-child(2) {
    padding-top: 24px;
  }
  .skills__item:nth-child(3n) {
    gap: 0;
  }
  
  .skills__item:nth-child(3n) .item__name {
    margin-top: 15px;
    margin-bottom: 54px;
    max-width: 729px;
  }

  .skills__item:nth-child(4n) .item__name {
    max-width: 645px;
  }

  /* .skills__item:nth-child(3n) .item__description {
    width: 570px;
  } */
  
  .skills__item:first-child .item__description {
    margin-top: 10px;
    margin-bottom: 37px;
    letter-spacing: 0.05em;
  }

.skills__item:nth-child(2) .item__description {
    line-height: 29px;
    margin-top: 0px;
    margin-bottom: 37px;
}

.skills__item:nth-child(3) .item__description {
  width: 710px;
  line-height: 29px;
  letter-spacing: 0.02em;
}
.skills__item:nth-child(4) .item__description {
  line-height: 28.5px;
  letter-spacing: 0.03em;

}
  .skills__item:nth-child(2) .item__name {
    margin-top: 5px;
    margin-bottom: 7px;
  }

  .skills__item:nth-child(3) .item__img {
    margin-top: 22px;
    margin-bottom: 5px;
  }

  .skills__item:nth-child(3) .item__name {
    margin-top: 15px;
    margin-bottom: 20px;
  }

    .skills__item:nth-child(4) .item__img {
    margin-top: 60px;
    margin-bottom: 5px;
  }

  .skills__item:nth-child(4) .item__name {
    margin-top: 0;
    line-height: 43px;
    margin-bottom: 5px;
  }