@import url(./header.css);
@import url(./hello.css);
@import url(./projects.css);
@import url(./skills.css);
@import url(./tasks.css);
@import url(./contacts.css);
@import url(./footer.css);

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

:root {
    --color-green: #1BFF07; 
    --color-white: #ffffff;
    --color-black: #000000;
    --color-grey: #191C19;
    --color-light-grey: rgba(59, 61, 59, 1);
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    width: 100%;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--color-black--text);
    background-color: var(--color-white);
  }


  * {
    letter-spacing: -0.03em;
  }

  .container {
    margin: 0 auto;
    padding: 0 5px;
    /* padding-left: 8px; */
    max-width: 1180px;
  }

  .btn {
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s ease;
  }