.tasks {
    background-color: var(--color-black);
    padding-top: 150px;
    padding-bottom: 150px;
}
.container {
}
.tasks__container {
    display: flex;
    flex-direction: column;
    gap: 75px;
}
.tasks__title {
    width: 403px;
    color: var(--color-white);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 35px;
    font-weight: 400;
    line-height: 45px;
    text-align: left;
}
.tasks__list {
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.tasks__list .task:nth-child(3){
    padding-top: 60px;
}

.task {
    display: grid;
    /* gap: 40px; */
}
.task__img {
    height: 200px;
    /* background-image: url(../resources/img/tasks/site_to_key.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: center -45px; */
    border-radius: 30px;
    overflow: hidden;
}
.task__img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.task__text {
    height: 283px;
    padding-top: 40px;
    /* padding-bottom: 40px; */
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr); */
    /* gap: 15px; */
    align-items: start;
    background-color: var(--color-grey);
    border-radius: 30px;
}
.task__title {
    padding-left: 40px;
    /* width: 480px; */
    color: var(--color-green);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 55px;
    font-weight: 400;
    /* line-height: 72px; */
    text-align: left;
    /* display: flex;
    align-items: flex-start; */
}
.task__description {
    width: 810px;
    color: var(--color-white);
    font-family: 'IBM Plex Mono', monospace;
    font-size: 22px;
    font-weight: 400;
    /* line-height: 34px; */
    text-align: left;
    padding-top: 15px;
    padding-right: 45px;
    /* padding-bottom: 40px; */
    padding-left: 40px;
}